<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>carservicesystem</display-name>
    
    <servlet>
        <description></description>
        <display-name>registerCustomerController</display-name>
        <servlet-name>registerCustomerController</servlet-name>
        <servlet-class>com.gqt.controller.registerCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>Car</display-name>
        <servlet-name>Car</servlet-name>
        <servlet-class>com.gqt.model.Car</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>Admin</display-name>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.gqt.model.Admin</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>changePasswordController</display-name>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>com.gqt.controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>ServiceStatus</display-name>
        <servlet-name>ServiceStatus</servlet-name>
        <servlet-class>com.gqt.controller.ServiceStatus</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>RequestForAService</display-name>
        <servlet-name>RequestForAService</servlet-name>
        <servlet-class>com.gqt.controller.RequestForAService</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>RegisterCustomer</display-name>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>com.gqt.controller.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>LoginCustomerController</display-name>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>com.gqt.controller.LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>LoginAdminController</display-name>
        <servlet-name>LoginAdminController</servlet-name>
        <servlet-class>com.gqt.controller.LoginAdminController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddcarDetails</display-name>
        <servlet-name>AddcarDetails</servlet-name>
        <servlet-class>com.gqt.controller.AddcarDetails</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>AddCarDetails</display-name>
        <servlet-name>AddCarDetails</servlet-name>
        <servlet-class>com.gqt.controller.AddCarDetails</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminServiceRequests</display-name>
    	<servlet-name>AdminServiceRequests</servlet-name>
    	<servlet-class>com.gqt.controller.AdminServiceRequests</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateServiceStatus</display-name>
    	<servlet-name>UpdateServiceStatus</servlet-name>
    	<servlet-class>com.gqt.controller.UpdateServiceStatus</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.gqt.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registerCustomerController</servlet-name>
        <url-pattern>/registerCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Car</servlet-name>
        <url-pattern>/Car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceStatus</servlet-name>
        <url-pattern>/ServiceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestForAService</servlet-name>
        <url-pattern>/RequestForAService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/LoginCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminController</servlet-name>
        <url-pattern>/LoginAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddcarDetails</servlet-name>
        <url-pattern>/AddcarDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarDetails</servlet-name>
        <url-pattern>/AddCarDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminServiceRequests</servlet-name>
    	<url-pattern>/AdminServiceRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateServiceStatus</servlet-name>
    	<url-pattern>/UpdateServiceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
